
<div class="container">
      
      <div class="about-challenge">
            
            <h1 class="center spinz-blue challenge-main-title "> About this Challenge </h1>

            <div class=" row rox-fix">
                <!-- Course Info -->
                
                  <div class="col-sm-4 "> 
                        <div class="progress-ch-img" style="background-image:  url('<%= @challenge.picture %>');" >
                         </div>
                  </div>


                  <div class="col-sm-8 progress-details" >
                        <h3 class="center spinz-blue challenge-title "><%= @challenge.name %> </h3>
                        

                        <p class="ch-description"><%= @challenge.description %></p>

                        <p> Points to earn: <span class="ch-points spinz-green"><%=  @challenge.points  %> </span> </p>

                        <p> Progress: </p>
                       
                        <div class="progress nav-progress-bar">
                          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>%;">
                            <%= @progress %> %
                          </div>
                        </div>

                        <p>Badge:</p>


                        <%= cl_image_tag(@challenge.medal.picture.url, class: "center", alt: "") if @challenge.medal %>
                  </div>
            
            </div>

      </div>


      <div class="challenge-steps">
            
            <h1 class="center">Steps</h1>
            <p class="ch-description">To complete this challenge and win your medal, you have to follow and complete this steps:</p>

            <div class="row">
                  <% @steps_to_complete.each do |step|  %>
                        
                        
                        <div class="step-description col-md-4">
                              <p><%= step.step.description %></p>



                              <%= link_to 'Completed',
                                    {controller: 'player_challenges',
                                     action: 'complete_task',
                                     player_challenge_id: @player_challenge.id,
                                     challenge_id: @player_challenge.challenge.id ,
                                     step_id: step.step },
                                     :method=>:post, :class => 'center btn btn-success btn-lg disabled' 
                              %>

                        </div>
                        

                  <% end %>

                  <% @steps_completed.each do |step|  %>
                        
                        
                        <div class="step-description col-md-4">
                              <p><%= step.description %></p>

                              <p>To complete this challenge please enter the date when you completed it</p>

                              <input class="datetimepicker" type="text" >


                              <button type="button" class="center btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"> Complete Task </button>
                        </div>



                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Complete this Step</h4>
                              </div>
                              <div class="modal-body">

                                <p>Are you sure you completed this task?</p>

                                <%= link_to 'Yes, I completed it',
                                  {controller: 'player_challenges',
                                  action: 'complete_task',
                                  player_challenge_id: @player_challenge.id,
                                  challenge_id: @player_challenge.challenge.id ,
                                  step_id: step },
                                  :method=>:post, :class => 'center btn btn-success btn-lg' 
                                %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>


                         
                        

                  <% end %>
            </div>
      </div>
</div>









