

<div class="challenge-user-wrapper spinz-blue-bg">
	<div class="container ">
		<div class="row">
			<div class="col-md-8">

				<div class="col-md-4 center">

					<% if current_player.avatar? == false %>
						<%= image_tag( 'avatar-guy.png', class: "avatar-img", alt: "") %>
					<% else %>
						<%= cl_image_tag(current_player.avatar.url, class: "avatar-img", alt: "") %>
					<% end %>
					<br>
					<%=  link_to 'Change Profile Picture', edit_player_registration_path, class: "center white ch-pro-pic" %>
					
				</div>

				<div class="col-md-8 white pro-ch-info">
					<p><%= current_player.first_name %> <%= current_player.last_name %></p>
					<p><%= current_player.email %></p>
					<p>My Ranking: <%= @player_rank %></p>
					<p>Points: <%= current_player.points %></p>
				</div>	

				
			</div>

			<div class="col-md-4 your-badges">
				<h2 class="center white">Your Badges</h2>
				<div class="profile-medal-wrapper">
					<% @player_medals.each do |medal|%>
						<%= cl_image_tag(medal.medal.picture.url, class: "profile-medal", alt: "") %>
					<% end %>

				</div>
				<div class="center see-medals-wrapper">
					<%= link_to 'See All', medals_index_path, class: "center see-medals" %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="challenges-wrapper">
	<div class="container">
		<h1 class="spinz-blue center">Challenges</h1>

		<%= form_tag '', :method => :get do %>
			<%= select('challenge', 'has_level', Level.all.map { |a| [a.name, a.id]} , :include_blank => 'All Levels')%>
			<%= submit_tag 'filter'%>
		<% end %>

		<div class="challenges-container center">

				
			<% @challenges.each do |challenge| %>

				<div class="col-md-4 ch-container">


					<div class="challenge-wrapper">

						<div class="col-md-4 challenge-img center">
							<%= cl_image_tag(challenge.picture.url, class: "", alt: "") %>
						</div>

						<div class="col-md-8 challenge-content" >
							<h3 class="center spinz-blue"><%= challenge.name  %></h3>
							<p class="ch-content-p"> <%= challenge.description  %></p>
							<%= link_to 'Read More', challenge_path(challenge), class: 'read-more' %>
							<p class="ch-content-ad">Points: <%= challenge.points  %></p>
							<p class="ch-content-ad">Level: <%= challenge.level.name  %></p>

						</div>

					</div>


					<div class="challenge-start center spinz-blue-bg">		
						<%= link_to 'Start Challenge', challenge_path(challenge), class: "start-ch-btn spinz-blue-bg" %>
					</div>	

				</div>

			<% end %>
			
		</div>
	</div>
	

</div>



<div class="footer spinz-blue-bg" >
    <div class="container">
      <h1 class="center white">We are Social</h1>

      <div class="community-icons">
        <a href="#" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="#" target="_blank"><i id="social-yt" class="fa fa-youtube-square fa-3x social"></i></a>
          <a href="#" target="_blank"><i id="social-in" class="fa fa-instagram fa-3x social"></i></a>
          <a href="#" target="_blank"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>    
</div>








<!-- <script type="text/javascript">
	
	$(document).ready(function(){
	    freezeTopRow($('#dataTable'));
	    $("#export").click(function(){
	        $.ajax({url: "patient_record/export", type: "POST"});
	    });
	});

</script> -->