


<div class="container">
	<div class="row">
		<div class="col-md-8">

			<%= cl_image_tag(current_player.avatar.url, class: "", alt: "") %>		
			<h2>Player</h2>
			<p><%= current_player.first_name %></p>
			<p>Player Rank: <%= @player_rank %></p>
		</div>

		<div class="col-md-4">
			
		</div>

	</div>
</div>



<%= form_tag '', :method => :get do %>
	<%= select('challenge', 'has_level', Level.all.map { |a| [a.name, a.id]} , :include_blank => 'All People')%>
	<%= submit_tag 'filter'%>
<% end %>





<% @challenges.each do |challenge| %>
	<p>------------------</p>
	<p><%= challenge.name  %></p>
	<p><%= challenge.description  %></p>
	<p><%= challenge.points  %></p>
	<p><%= challenge.level.name  %></p>
	
	<%= link_to 'Start Challenge', challenge_path(challenge) %>

	<p>------------------</p>	

<% end %>


<!-- <script type="text/javascript">
	
	$(document).ready(function(){
	    freezeTopRow($('#dataTable'));
	    $("#export").click(function(){
	        $.ajax({url: "patient_record/export", type: "POST"});
	    });
	});

</script> -->