<h1>Challenges#index</h1>
<p>Find me in app/views/challenges/index.html.erb</p>


<%= form_tag '', :method => :get do %>
	<%= select('challenge', 'has_level', Level.all.map { |a| [a.name, a.id]} , :include_blank => 'All People')%>
	<%= submit_tag 'filter'%>
<% end %>





<% @challenges.each do |challenge| %>
	<p>------------------</p>
	<p><%= challenge.name  %></p>
	<p><%= challenge.description  %></p>
	<p><%= challenge.points  %></p>
	<p><%= challenge.level.name  %></p>
	<p>------------------</p>
	<br>
	<br>


	

	<%= link_to 'Start Challenge', challenge_path(challenge) %>


<% end %>


<!-- <script type="text/javascript">
	
	$(document).ready(function(){
	    freezeTopRow($('#dataTable'));
	    $("#export").click(function(){
	        $.ajax({url: "patient_record/export", type: "POST"});
	    });
	});

</script> -->