<nav class="navbar navbar-default">  
  <div class="container-fluid">  
    <!-- Brand and toggle get grouped for better mobile display -->  
    <div class="navbar-header">  
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">  
        <span class="sr-only">Toggle navigation</span>  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
      </button>  
      <%= link_to "Tennis On the HIll", root_path, class: "navbar-brand" %>  

    </div>  

    <!-- Collect the nav links, forms, and other content for toggling -->  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  

      <ul class="nav navbar-nav navbar-right">  

        <% if current_player %>

          <li><%= link_to 'Challenges', challenges_index_path %></li>

          <li><%= link_to 'Badges', medals_index_path %></li>

          <li><%= link_to 'leaderboard', leaderboards_index_path %></li>
          <li><%= link_to 'edit', edit_player_registration_path %></li>
          <li><%= link_to "Log Out", destroy_player_session_path, method: :delete, :class => 'btn btn-default btn-sm pull-right btn-session'  %></li>
        <% end %>

      </ul>  
    </div><!-- /.navbar-collapse -->  
  </div><!-- /.container-fluid -->  
</nav> 